<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="archive" connectionString="CONN STRING HERE" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="server" value="localhost" />
    <!-- See http://go.microsoft.com/fwlink/?LinkId=70353 for port 80 issues -->
    <add key="port" value="" />
    <add key="corsItems" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>