<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@System.Configuration.ConfigurationManager.AppSettings["brandingTitle"]</title>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/knockout-2.2.0.js"></script>
    <script src="~/Scripts/websockets.js"></script>
    <script src="~/Scripts/ajax-lookups.js"></script>
    <script type="text/javascript">

        var server = "@System.Configuration.ConfigurationManager.AppSettings["server"]";

        function padTime(time) {
            if (time < 10)
                return "0" + time;
            return time;
        }

        function setStatus(status) {
            $("#status").html(status);
        }

        $(function () {
            ko.applyBindings(currentTrain, $("#trains").get(0));
            ko.applyBindings(currentStation, $("#stanox").get(0));

            $('#filter-location').on('change', function (evt) {
                if ($(evt.target).val() == '') {
                    filter(null);
                }
            });

            $('#filter-pre-location').on('change', function (evt) {
                var item = $(evt.target).val();
                if (item && item.length > 0)
                    preFilterLocation(item.substring(0, (item.indexOf('(') - 1)));
                else
                    sendPreFilter('');
            });

            if (document.location.hash.length > 0)
                setCommand(document.location.hash.substr(1));
        });


        function TrainViewModel() {
            var self = this;

            self.Id = ko.observable();
            self.ServiceCode = ko.observable();
            self.Activated = ko.observable();
            self.SchedOrigin = ko.observable();
            self.SchedDepart = ko.observable();
            self.Stops = ko.observableArray();
            self.LastUpdate = ko.observable();

            self.addStop = function (stop) {
                self.Stops.push(stop);
            };

            self.clearStops = function () {
                self.Stops.removeAll();
            }
        }

        function StopViewModel() {
            var self = this;

            self.Stanox = ko.observable();
            self.PlannedTime = ko.observable();
            self.ActualTimeStamp = ko.observable();
            self.EventType = ko.observable();
            self.Line = ko.observable();
            self.Platform = ko.observable();
            self.Delay = ko.observable();

            self.DelayResult = ko.computed(function () {
                if (this.Delay() == 0)
                    return "label-success";
                if (this.Delay() < 0)
                    return "label-info";
                if (this.Delay() > 10)
                    return "label-important";

                return "label-warning";
            }, self);

            self.DelayTitle = ko.computed(function () {
                if (this.Delay() == 0)
                    return "on time";
                if (this.Delay() < 0)
                    return "early";
                return "late";
            }, self);

            self.State = ko.observable();

            self.StateClass = ko.computed(function () {
                switch (this.State()) {
                    case 1:
                        return "warning";
                        break;
                    case 2:
                        return "error";
                        break;
                    default:
                    //case "Normal":
                        return "";
                }
            }, self);

            self.StateTitle = ko.computed(function () {
                switch (this.State()) {
                    case 1:
                        return "Terminated";
                        break;
                    case 2:
                        return "Cancelled";
                        break;
                    default:
                        //case "Normal":
                        return "";
                }
            }, self);
        }

        function StanoxSearchResultViewModel() {
            var self = this;

            self.Stanox = ko.observable();
            self.Trains = ko.observableArray();

            self.addTrain = function (train) {
                self.Trains.push(train);
            };

            self.clearTrains = function () {
                self.Trains.removeAll();
            }
        }

        var currentTrain = new TrainViewModel();
        var currentStation = new StanoxSearchResultViewModel();

        function formatDateString(d) {
            function pad(n) { return n < 10 ? '0' + n : n }
            return pad(d.getUTCDate()) + '/'
                + pad(d.getUTCMonth() + 1) + '/'
                + d.getUTCFullYear() + ' '
                + pad(d.getUTCHours()) + ':'
                + pad(d.getUTCMinutes()) + ':'
                + pad(d.getUTCSeconds());
        }

        function connectWs() {
            connect();

            ws.onmessage = function (msg) {

                var data = jQuery.parseJSON(msg.data);
                switch (data.Command) {
                    case "subtrainupdate":
                        data = data.Response;
                        currentTrain.LastUpdate(formatDateString(new Date()));
                        for (i in data) {
                            addStop(data[i]);
                        }
                        $(".tooltip-dynamic").tooltip();
                        break;
                    case "subtrain":
                    case "gettrain":
                        currentTrain.clearStops();
                        data = data.Response;
                        currentTrain.Id(data.Id);
                        currentTrain.ServiceCode(data.ServiceCode);
                        var activated = "";
                        if (data.Activated) {
                            activated = formatDateString(new Date(data.Activated));
                        }
                        currentTrain.Activated(activated);

                        currentTrain.SchedOrigin(data.SchedOriginStanox);
                        if (data.SchedOrigin && data.SchedOrigin.length > 0)
                            fetchLocation(data.SchedOrigin);
                        var schedDepart = "";
                        if (data.SchedOriginDeparture) {
                            schedDepart = formatDateString(new Date(data.SchedOriginDeparture));
                        }
                        currentTrain.SchedDepart(schedDepart);
                        currentTrain.LastUpdate(formatDateString(new Date()));
                        for (i in data.Steps) {
                            addStop(data.Steps[i]);
                        }
                        $(".tooltip-dynamic").tooltip();
                        break;
                    case "stanox":
                    case "crs":
                        currentStation.clearTrains();
                        data = data.Response;
                        currentStation.Stanox(data.Name);
                        for (i in data.TrainIds) {
                            currentStation.addTrain(data.TrainIds[i]);
                        }
                        break;
                }
            };
        }

        function addStop(stopEl) {
            var stop = new StopViewModel();
            stop.Stanox(stopEl.Stanox);

            var plannedTime = new Date(stopEl.PlannedTime);
            stop.PlannedTime(formatDateString(plannedTime));

            var actualTime = new Date(stopEl.ActualTimeStamp);
            stop.ActualTimeStamp(formatDateString(actualTime));

            stop.Delay((actualTime - plannedTime) / 60000);

            stop.EventType(stopEl.EventType);
            stop.Line(stopEl.Line);
            stop.Platform(stopEl.Platform);

            stop.State(stopEl.State);

            currentTrain.addStop(stop);

            fetchLocation(stopEl.Stanox);
        }

        function fetchLocation(stanox) {
            loadLocation(stanox, function (data) {
                var html = "";
                if (data.StationName) {
                    html = data.StationName;
                } else {
                    html = data.Tiploc;
                }
                if (data.CRS) {
                    html += "(" + data.CRS + ")";
                }
                $("." + data.Name).html(html);
                $("." + data.Name).attr('title', data.Description + '(' + data.Name + ')');
                $("." + data.Name).tooltip();
            });
        }

        function clearData() {
            currentTrain.Id('');
            currentTrain.ServiceCode('');
            currentTrain.clearStops();
        }

        function sendCommand(resetSub) {
            if (resetSub) {
                ws.send("unsubtrain:");
            }
            var cmd = $("#filter-command").val();
            ws.send(cmd);
            document.location.hash = cmd;
        }

        function setCommand(command) {
            $("#filter-command").val(command);
        }

        function loadTrain(el) {
            setCommand('gettrain:' + $(el).html());
            sendCommand(true);
        }

        function loadStanox(el) {
            setCommand('stanox:' + $(el).attr('class'));
            sendCommand(true);
        }

        function loadTrainSub(el) {
            setCommand('subtrain:' + $(el).html());
            _currentTrainSub = $(el).html();
            sendCommand(true);
        }

        function parseCommand() {
            sendCommand(true);
        }

    </script>
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }

        .sidebar-nav {
            padding: 9px 0;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="#">@System.Configuration.ConfigurationManager.AppSettings["brandingTitle"]</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li><a href="~/index.cshtml">Live Feed</a></li>
                        <li class="active"><a href="#">Command Screen</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">
                <div class="well sidebar-nav" id="locationDetails">
                    <ul class="nav nav-list">
                        <li class="nav-header">Commands</li>
                        <li><a href="#gettrain:" onclick="setCommand('gettrain:');"><strong>Get Train:</strong> gettrain:[train id]</a></li>
                        <li><a href="#subtrain:" onclick="setCommand('subtrain:');"><strong>Subscribe to Train:</strong> subtrain:[train id]</a></li>
                        <li><a href="#stanox:" onclick="setCommand('stanox:');"><strong>Get Location Trains:</strong> stanox:[stanox]</a></li>
                        <li><a href="#crs:" onclick="setCommand('crs:');"><strong>Get Location Trains:</strong> crs:[crs]</a></li>
                    </ul>
                </div>
                <div class="well sidebar-nav" id="stanox">
                    <ul class="nav nav-list">
                        <li class="nav-header">Station Trains: <span data-bind="text: Stanox"></span></li>
                    </ul>
                    <ul class="nav nav-list" data-bind="foreach: Trains" style="height: 600px; overflow: auto;">
                        <li><a onclick="loadTrain(this);" data-bind="text: $data, attr: {href :'#gettrain:' + $data}"></a></li>
                    </ul>
                </div>
                <!--/.well -->
            </div>
            <!--/span3-->
            <div class="span9">
                <div class="btn-group">
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-asterisk"></i></span>
                        <input type="text" id="filter-command" class="span9" placeholder="Enter Command" />&nbsp;&nbsp;&nbsp;
                        <a class="btn btn_disconnect" id="btn_Command" onclick="parseCommand();" disabled="disabled" title="Send Command"><i class="icon-arrow-right"></i></a>
                        <a class="btn btn_connect" id="btn_Connect" onclick="connectWs()" title="Connect to server"><i class="icon-play"></i></a>
                        <a class="btn btn_disconnect" onclick="disconnect()" disabled="disabled" title="Disconnect from server"><i class="icon-stop"></i></a>
                        <a class="btn" href="#" title="Clear data" onclick="clearData();"><i class="icon-remove"></i></a>
                        <a class="btn" href="#" id="status">Connection Status</a>
                    </div>
                </div>
                <div style="height: 800px; overflow: auto;" id="trains">
                    <ul class="nav">
                        <li class="nav-header">Train Details</li>
                        <li><strong>Id:</strong> <a onclick="loadTrainSub(this);" data-bind="text: Id, attr: {href :'#subtrain:' + Id()}" title="Subscribe to train" style="display: inline;"></a></li>
                        <li><strong>Service Code:</strong> <span data-bind="text: ServiceCode"></span></li>
                        <li><strong>Activated:</strong> <span data-bind="text: Activated"></span></li>
                        <li><strong>Scheduled Origin:</strong> <a onclick="loadStanox(this);" data-bind="text: SchedOrigin, css:SchedOrigin, attr: {href :'#stanox:' + SchedOrigin()}" style="display: inline;"></a></li>
                        <li><strong>Scheduled Departure Time:</strong> <span data-bind="text: SchedDepart"></span></li>
                        <li><strong>Last Update:</strong> <span data-bind="text: LastUpdate"></span></li>
                        <li class="nav-header">Stops</li>
                    </ul>
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th title="Click to load trains for the given location">Location</th>
                                <th title="Expected time is tooltip. Delay is shown next to time">Time</th>
                                <th>Action</th>
                                <th>Line</th>
                                <th>Platform</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: Stops">
                            <tr data-bind="css: StateClass, attr: { title: StateTitle }">
                                <td><a onclick="loadStanox(this);" data-bind="text: Stanox, css:Stanox, attr: {href :'#stanox:' + Stanox()}"></a></td>
                                <td><span data-bind="text: ActualTimeStamp, attr: { title: PlannedTime }" class="tooltip-dynamic"></span>&nbsp;<span class="label" data-bind="text: Delay, css: DelayResult, attr: { title: DelayTitle }"></span></td>
                                <td data-bind="text: EventType"></td>
                                <td data-bind="text: Line"></td>
                                <td data-bind="text: Platform"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--/span9-->
        </div>
        <!--/row-fluid-->
        <hr />
        <footer>
            <p>
                Copyright &copy; Michael Pritchard 2012. <a href="https://twitter.com/blueghostuk" class="twitter-follow-button" data-show-count="false">Follow @@blueghostuk</a>
                <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
                <br />
                Contains information of Network Rail Infrastructure Limited licensed under the following licence:<br />
                <a href="http://www.networkrail.co.uk/data-feeds/terms-and-conditions" target="_blank" title="Opens in new window"><i class="icon-share-alt" title="Opens in new window"></i>www.networkrail.co.uk/data-feeds/terms-and-conditions</a>
                <br />
                Uses: <a href="http://twitter.github.com/bootstrap/" target="_blank"><i class="icon-share-alt" title="Opens in new window"></i>Twitter Bootstrap</a>, 
                <a href="http://alchemywebsockets.net/" target="_blank"><i class="icon-share-alt" title="Opens in new window"></i>Alchemy Websockets</a> (server-side).
                Source: <a href="https://github.com/blueghostuk/networkrail-downloader" target="_blank"><i class="icon-share-alt" title="Opens in new window"></i>on github</a>
            </p>
        </footer>
    </div>
</body>
</html>
