<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/knockout-2.2.0.js"></script>
    <script src="~/Scripts/websockets.js"></script>
    <script src="~/Scripts/ajax-lookups.js"></script>
    <script src="~/Scripts/mapping.js"></script>
    <script type="text/javascript" 
        src="http://maps.googleapis.com/maps/api/js?key=@System.Configuration.ConfigurationManager.AppSettings["googleApiKey"]&sensor=false">
    </script>
    <script type="text/javascript">

        var apiKey = "@System.Configuration.ConfigurationManager.AppSettings["googleApiKey"]";

        var server = "@System.Configuration.ConfigurationManager.AppSettings["server"]";

        /*var pageSize = 30;

        var currentPage = 1;*/

        function sortTrainId(trainId) {
            if (!trainId || trainId.length == 0)
                return;

            var rows = $("#table-trains tbody tr." + trainId).not(".info, .warning");
            if (rows.length <= 1)
                return;

            var header = $("#table-trains tbody tr." + trainId + ".info").get(0);

            $(rows).each(function (el) {
                $(el).detach();
            });

            var ordered = rows.get().sort(function (a, b) {
                return $(a).data("timestamp") - $(b).data("timestamp");
            });

            $(header).after(ordered);
        }

        function padTime(time) {
            if (time < 10)
                return "0" + time;
            return time;
        }

        function setStatus(status) {
            $("#status").html(status);
        }

        function addMessage(message, parent) {
            if (parent) {
                $("#" + parent).after(message);
            } else {
                $("#data").append(message);
            }
        }

        var currentFilter = '';

        function filterTrain(trainid) {
            if (!trainid || trainid.length == 0 || trainid == currentFilter) {
                currentFilter = '';
                $("#table-trains tbody tr").show();
                return;
            }
            currentFilter = trainid;
            $("#table-trains tbody tr").hide();
            $("#table-trains tbody tr." + trainid).show();
        }

        function sendPreFilter(location) {
            if (ws /*&& w*/)
                ws.send(location);
        }

        function clearTable() {
            $("#table-trains tbody tr").detach();
        }

        var _locations;
        
        function LocationViewModel() {
            this.locationStanox = ko.observable();
            this.locationTiploc = ko.observable();
            this.locationDescription = ko.observable();
            this.locationCRS = ko.observable();
            this.stationName = ko.observable();
            this.stationLocation = ko.observable();
        }

        var currentLocation = new LocationViewModel();

        $(function () {
            ko.applyBindings(currentLocation, $("#locationDetails").get(0));

            preLoadStations();

            preLoadMap();

            $('#filter-location').on('change', function (evt) {
                if ($(evt.target).val() == '') {
                    filter(null);
                }
            });

            $('#filter-pre-location').on('change', function (evt) {
                var item = $(evt.target).val();
                if (item && item.length > 0)
                    preFilterLocation(item.substring(0, (item.indexOf('(') - 1)));
                else
                    sendPreFilter('');
            });
        });

    </script>
    <style type="text/css">
        html,
        body {
            height: 100%;
        }

        #footer .container {
            padding: 20px 0;
            border-top: 1px solid #e7e7e7;
        }

        #footer p {
            color: #777;
            margin-bottom: 0;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="#">@System.Configuration.ConfigurationManager.AppSettings["brandingTitle"]</a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">
                <div class="well sidebar-nav" id="locationDetails">
                    <ul class="nav nav-list clearfix">
                        <br />
                        <li class="nav-header">Location</li>
                        <li><strong>Stanox:</strong> <span data-bind="text: locationStanox"></span></li>
                        <li><strong>Tiploc:</strong> <span data-bind="text: locationTiploc"></span></li>
                        <li><strong>Description:</strong> <span data-bind="text: locationDescription"></span></li>
                        <li><strong>CRS:</strong> <span data-bind="text: locationCRS"></span></li>
                        <li class="nav-header">Station</li>
                        <li><strong>Name:</strong> <span data-bind="text: stationName"></span></li>
                        <li><span><i class="icon-map-marker"></i></span><span data-bind="text: stationLocation"></span></li>
                        <li>
                            <img id="station-loc" style="width: 310px; height: 310px; display: none;" />
                        </li>
                    </ul>
                </div>
            </div>
            <div class="span9">
                <div class="hero-unit">
                    <div class="btn-group">
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-filter"></i></span>
                            <input type="text" id="filter-pre-location" class="span4" placeholder="Filter Data Location (optional)" title="Clear and press ENTER to reset" />&nbsp;&nbsp;&nbsp;
                            
                            <a class="btn" id="btn_Connect" onclick="connect()" title="Connect to server"><i class="icon-play"></i></a>
                            <a class="btn" id="btn_Disconnect" onclick="disconnect()" disabled="disabled" title="Disconnect from server"><i class="icon-stop"></i></a>
                            <a class="btn" href="#" title="Clear table" onclick="clearTable();"><i class="icon-remove"></i></a>
                            <a class="btn" href="#" id="status">Connection Status</a>
                        </div>
                    </div>
                    <div class="navbar-inner">
                        <form class="navbar-search pull-right" onsubmit="return false;">
                            <div class="input-prepend" style="margin-right: 20px">
                                <span class="add-on"><i class="icon-filter"></i></span>
                                <input type="text" id="filter-location" class="span12" placeholder="Filter Table Location" title="Clear and press ENTER to reset" />
                                <br />
                            </div>
                        </form>
                    </div>
                    <div style="height: 600px; overflow: auto;">
                        <table class="table .table-hover table-bordered" id="table-trains">
                            <thead>
                                <th>Train ID</th>
                                <th>Service Code</th>
                                <th>Action</th>
                                <th>Time</th>
                                <th>Direction</th>
                                <th>Platform</th>
                                <th>Location</th>
                            </thead>
                            <tbody id="data">
                            </tbody>
                        </table>
                        <div class="pagination pagination-centered">
                            <ul>
                                <li><a href="#">Prev</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">Next</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="container">
            <p>
                Copyright &copy; Michael Pritchard 2012. <a href="https://twitter.com/blueghostuk" class="twitter-follow-button" data-show-count="false">Follow @@blueghostuk</a>
                <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
                <br />
                Contains information of Network Rail Infrastructure Limited licensed under the following licence:<br />
                <a href="http://www.networkrail.co.uk/data-feeds/terms-and-conditions" target="_blank" title="Opens in new window"><i class="icon-share-alt" title="Opens in new window"></i>www.networkrail.co.uk/data-feeds/terms-and-conditions</a>
                <br />
                Uses: <a href="http://twitter.github.com/bootstrap/" target="_blank"><i class="icon-share-alt" title="Opens in new window"></i>Twitter Bootstrap</a>, 
                <a href="http://alchemywebsockets.net/" target="_blank"><i class="icon-share-alt" title="Opens in new window"></i>Alchemy Websockets</a> (server-side).
                Source: <a href="https://github.com/blueghostuk/networkrail-downloader" target="_blank"><i class="icon-share-alt" title="Opens in new window"></i>on github</a>
            </p>
        </div>
    </div>
    <div id="mapModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="mapModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="mapModalLabel">Train Map</h3>
        </div>
        <div class="modal-body" style="width: 94%; height: 400px;">
            <div id="map_canvas" style="width: 100%; height: 100%;"></div>
        </div>
    </div>
</body>
</html>
