<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@System.Configuration.ConfigurationManager.AppSettings["brandingTitle"]</title>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/knockout-2.2.0.js"></script>
    <script src="~/Scripts/websockets.js"></script>
    <script src="~/Scripts/ajax-lookups.js"></script>
    <script src="~/Scripts/mapping.js"></script>
    <script type="text/javascript" 
        src="http://maps.googleapis.com/maps/api/js?key=@System.Configuration.ConfigurationManager.AppSettings["googleApiKey"]&sensor=false">
    </script>
    <script type="text/javascript">
        var apiKey = "@System.Configuration.ConfigurationManager.AppSettings["googleApiKey"]";

        var server = "@System.Configuration.ConfigurationManager.AppSettings["server"]";

        /*var pageSize = 30;

        var currentPage = 1;*/

        function sortTrainId(trainId) {
            if (!trainId || trainId.length == 0)
                return;

            var rows = $("#table-trains tbody tr." + trainId).not(".info, .warning");
            if (rows.length <= 1)
                return;

            var header = $("#table-trains tbody tr." + trainId + ".info").get(0);

            $(rows).each(function (el) {
                $(el).detach();
            });

            var ordered = rows.get().sort(function (a, b) {
                return $(a).data("timestamp") - $(b).data("timestamp");
            });

            $(header).after(ordered);
        }

        function padTime(time) {
            if (time < 10)
                return "0" + time;
            return time;
        }

        function setStatus(status) {
            $("#status").html(status);
        }

        function addMessage(message, parent) {
            if (parent) {
                $("#" + parent).after(message);
            } else {
                $("#data").append(message);
            }
        }

        var currentFilter = '';

        function filterTrain(trainid) {
            if (!trainid || trainid.length == 0 || trainid == currentFilter) {
                currentFilter = '';
                $("#table-trains tbody tr").show();
                return;
            }
            currentFilter = trainid;
            $("#table-trains tbody tr").hide();
            $("#table-trains tbody tr." + trainid).show();
        }

        function sendPreFilter(location) {
            if (ws /*&& w*/)
                ws.send(location);
        }

        function clearTable() {
            $("#table-trains tbody tr").detach();
        }

        var _locations;

        function LocationViewModel() {
            this.locationStanox = ko.observable();
            this.locationTiploc = ko.observable();
            this.locationDescription = ko.observable();
            this.locationCRS = ko.observable();
            this.stationName = ko.observable();
            this.stationLocation = ko.observable();
        }

        var currentLocation = new LocationViewModel();

        $(function () {
            ko.applyBindings(currentLocation, $("#locationDetails").get(0));

            preLoadStations();

            preLoadMap();

            $('#filter-location').on('change', function (evt) {
                if ($(evt.target).val() == '') {
                    filter(null);
                }
            });

            $('#filter-pre-location').on('change', function (evt) {
                var item = $(evt.target).val();
                if (item && item.length > 0)
                    preFilterLocation(item.substring(0, (item.indexOf('(') - 1)));
                else
                    sendPreFilter('');
            });
        });

        function wsOpenCommand() {
            ws.send("subscribe");
        }

        function connectWs() {
            connect();

            ws.onmessage = function (msg) {
                var data = jQuery.parseJSON(msg.data);
                console.debug(data);
                setStatus("Received " + data.length + " messages at " + new Date(Date.now()).toLocaleString());

                $("#status").removeClass("btn-warning");
                $("#status").removeClass("btn-success");
                $("#status").addClass("btn-info");

                for (var i = 0; i < data.length; i++) {
                    var message = data[i]; //.body;

                    var existing = $("#" + message.train_id).length == 1;
                    var cls = "";
                    if (existing) {
                        $("." + message.train_id).addClass(message.loc_stanox);
                        cls = $("#" + message.train_id).attr('class');
                        cls = cls.replace(" info", "");
                        parent = message.train_id;
                    } else {
                        parent = null;
                        cls = message.loc_stanox + " " + message.train_id;
                    }

                    var style = "";
                    if (currentFilter &&
                        currentFilter.length > 0 &&
                        cls.indexOf(currentFilter) == -1) {
                        style = "display:none;";
                    }

                    var date = new Date(new Number(message.actual_timestamp));
                    var html = "";

                    if (!existing) {
                        html += "<tr class=\"" + cls + " info\" style=\"" + style + "\" id=\"" + message.train_id + "\">";
                        html += "<td><a href=\"#\" onclick=\"filterTrain('" + message.train_id + "');\">" + message.train_id + "</a></td>";
                        html += "<td>" + message.train_service_code + "</td>";
                        html += "<td colspan=\"5\"><a href=\"#\" data-toggle=\"modal\" data-target=\"#mapModal\" onclick=\"showMap('" + message.train_id + "');\">View Map</button></td>";
                        html += "</tr>";
                    }

                    html += "<tr class=\"" + cls + "\" style=\"" + style + "\" data-timestamp=\"" + message.actual_timestamp + "\">";
                    html += "<td colspan=\"2\">&nbsp;&nbsp;</td>";
                    html += "<td>" + message.event_type + "</td>";
                    html += "<td>" + padTime(date.getUTCHours()) + ":" + padTime(date.getUTCMinutes()) + ":" + padTime(date.getUTCSeconds()) + "</td>";
                    html += "<td>" + message.direction_ind + "</td>";
                    html += "<td>" + message.platform + "</td>";
                    html += "<td><a href=\"#\" class=\"stanox-" + message.loc_stanox + "\" onclick=\"loadLocation('" + message.loc_stanox + "')\">" + message.loc_stanox + "</a></td>";

                    html += "</tr>";

                    if (message.train_terminated && message.train_terminated == "true") {
                        html += "<tr class=\"" + cls + " " + message.train_id + " warning\"  style=\"" + style + "\"><td colspan=\"7\">Terminated</td></tr>";
                    }

                    addMessage(html, parent);

                    sortTrainId(message.train_id);

                    fetchStanox(message.loc_stanox);
                }
            };
        }

        function loadLocationCallback(data) {

            currentLocation.locationStanox(stanox);
            currentLocation.locationTiploc(data.Tiploc);
            currentLocation.locationDescription(data.Description);
            currentLocation.locationCRS(data.CRS);
            currentLocation.stationName(data.StationName);
            currentLocation.stationLocation(data.Lat + ", " + data.Lon);
            if (data.Lat && data.Lon) {
                $("#station-loc").attr("src",
                    "http://maps.googleapis.com/maps/api/staticmap?center=" + data.Lat + "," + data.Lon +
                    "5&zoom=14&size=310x310&sensor=false&style=feature:transit.station.rail" +
                    "&key=" + apiKey);
                $("#station-loc").show();
            } else {
                $("#station-loc").hide();
            }
        }

    </script>
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }

        .sidebar-nav {
            padding: 9px 0;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="#">@System.Configuration.ConfigurationManager.AppSettings["brandingTitle"]</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="active"><a href="#">Live Feed</a></li>
                        <li><a href="~/command.cshtml">Command Screen</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">
                <div class="well sidebar-nav" id="locationDetails">
                    <ul class="nav nav-list">
                        <li class="nav-header">Location</li>
                        <li><strong>Stanox:</strong> <span data-bind="text: locationStanox"></span></li>
                        <li><strong>Tiploc:</strong> <span data-bind="text: locationTiploc"></span></li>
                        <li><strong>Description:</strong> <span data-bind="text: locationDescription"></span></li>
                        <li><strong>CRS:</strong> <span data-bind="text: locationCRS"></span></li>
                        <li class="nav-header">Station</li>
                        <li><strong>Name:</strong> <span data-bind="text: stationName"></span></li>
                        <li><span><i class="icon-map-marker"></i></span><span data-bind="text: stationLocation"></span></li>
                        <li>
                            <img id="station-loc" style="width: 310px; height: 310px; display: none;" />
                        </li>
                    </ul>
                </div>
                <!--/.well -->
            </div>
            <!--/span3-->
            <div class="span9">
                <div class="btn-group">
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-filter"></i></span>
                        <input type="text" id="filter-pre-location" class="span4" placeholder="Filter Data Location (optional)" title="Clear and press ENTER to reset" />&nbsp;&nbsp;&nbsp;
                        <a class="btn btn_connect" onclick="connectWs()" title="Connect to server"><i class="icon-play"></i></a>
                        <a class="btn btn_disconnect" onclick="disconnect()" disabled="disabled" title="Disconnect from server"><i class="icon-stop"></i></a>
                        <a class="btn" href="#" title="Clear table" onclick="clearTable();"><i class="icon-remove"></i></a>
                        <a class="btn" href="#" id="status">Connection Status</a>
                    </div>
                </div>
                <div class="navbar-inner">
                    <form class="navbar-search pull-right" onsubmit="return false;">
                        <div class="input-prepend" style="margin-right: 20px">
                            <span class="add-on"><i class="icon-filter"></i></span>
                            <input type="text" id="filter-location" class="span12" placeholder="Filter Table Location" title="Clear and press ENTER to reset" />
                            <br />
                        </div>
                    </form>
                </div>
                <div style="height: 800px; overflow: auto;">
                    <table class="table table-hover table-bordered" id="table-trains">
                        <thead>
                            <th>Train ID</th>
                            <th>Service Code</th>
                            <th>Action</th>
                            <th>Time</th>
                            <th>Direction</th>
                            <th>Platform</th>
                            <th>Location</th>
                        </thead>
                        <tbody id="data">
                        </tbody>
                    </table>
                    <div class="pagination pagination-centered">
                        <ul>
                            <li><a href="#">Prev</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">Next</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--/span9-->
        </div>
        <!--/row-fluid-->
        <hr />
        <footer>
            <p>
                Copyright &copy; Michael Pritchard 2012. <a href="https://twitter.com/blueghostuk" class="twitter-follow-button" data-show-count="false">Follow @@blueghostuk</a>
                <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
                <br />
                Contains information of Network Rail Infrastructure Limited licensed under the following licence:<br />
                <a href="http://www.networkrail.co.uk/data-feeds/terms-and-conditions" target="_blank" title="Opens in new window"><i class="icon-share-alt" title="Opens in new window"></i>www.networkrail.co.uk/data-feeds/terms-and-conditions</a>
                <br />
                Uses: <a href="http://twitter.github.com/bootstrap/" target="_blank"><i class="icon-share-alt" title="Opens in new window"></i>Twitter Bootstrap</a>, 
                <a href="http://alchemywebsockets.net/" target="_blank"><i class="icon-share-alt" title="Opens in new window"></i>Alchemy Websockets</a> (server-side).
                Source: <a href="https://github.com/blueghostuk/networkrail-downloader" target="_blank"><i class="icon-share-alt" title="Opens in new window"></i>on github</a>
            </p>
        </footer>
    </div>
    <!--/container-fluid-->
    <div id="mapModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="mapModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="mapModalLabel">Train Map</h3>
        </div>
        <div class="modal-body" style="width: 94%; height: 400px;">
            <div id="map_canvas" style="width: 100%; height: 100%;"></div>
        </div>
    </div>
</body>
</html>
