<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="database" connectionString="CONN STRING HERE" providerName="MySql.Data.MySqlClient"/>
    <add name="archive" connectionString="CONN STRING HERE" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ActiveMQConnectionString" value="stomp:tcp://datafeeds.networkrail.co.uk:61618" />
    <add key="ActiveMQDurableClientId" value=""/>
    <add key="ActiveMQDurableSubscriberId" value=""/>
    <add key="TrainMovementName" value=""/>
    <add key="TrainDescriberName" value=""/>
    <add key="Username" value="USERNAMEHERE" />
    <add key="Password" value="PASSWORDHERE" />
    <add key="NMSLogging" value="false"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="NetTcpBinding_ICacheService" />
      </netNamedPipeBinding>
    </bindings>
    <client>
      <!-- specifies the endpoint to use when calling the service -->
      <endpoint 
        address="net.pipe://localhost/CacheService"
        binding="netNamedPipeBinding" 
        bindingConfiguration="NetTcpBinding_ICacheService"
        contract="TrainNotifier.Common.Services.ICacheService" 
        name="NetTcpBinding_ICacheService">
      </endpoint>
    </client>
  </system.serviceModel>
  <system.data>
    <DbProviderFactories>
      <clear />
      <add
        name="MySQL Data Provider"
        invariant="MySql.Data.MySqlClient"
        description=".Net Framework Data Provider for MySQL"
        type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.5.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>